@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 76px;
    border-bottom: 1px solid #EFF5FB;
}

.header__logo {
    display: flex;
    align-items: center;
    margin-left: 7.5rem;
    flex-shrink: 0;
}

.header__nav {
    display: flex;
    align-items: center;
    margin-right: 164px;
}

.header__list {
    display: flex;
    height: 16px;
    justify-content: flex-start;
    gap: 30px;
    list-style: none;
}

.header__item {
    display: inline-block;
    text-align: center;
}

.header__item_frame {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.header__link {
    text-align: center;
    text-decoration: none;
    font-size: 14p;
    font-weight: 400;
    color: #333;
}

.header__link:hover {
    color: rgb(226, 12, 12);
}

.header__btn {
    display: inline-block;
    align-items: center;
    background-color: #E3F5F5;
    margin-right: 120px;
    border-radius: 4px;
    padding: 14px 20px;
    color: #03B2A5;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    /*display: none;*/
}

.header__burger {
    display: none;
}

.main {
    width: 100vw;
    padding: 16px 120px;
}

.main__line-layout {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    font-size: 12px;
    font-weight: 400;
    padding-left: 6px;
}

.main__heading {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    margin-top: 30px;
    margin-bottom: 32px;
}

.main__tegs {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    flex-wrap: wrap;
}

.teg {
    display: flex;
    height: 32px;
    padding: 6px 8px;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    line-height: 20px;
    gap: 4px;
    align-self: stretch;
    border: 1px solid #C1C5CD;
    border-radius: 24px;
    background: #F9FDFD;
}

.main__containers {
    display: inline-flex;
    align-items: flex-start;
    gap: 2.5rem;
    width: 100vw;
    margin: 23px auto;
}
.main__container-one {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    border: 1px solid #DEDEDE;
    border-radius: 16px;
    width: 588px;
}

.main__container-one_photo {
    display: inline-block;
    height: 260px;
    width: 588px;
    padding: 8px;
    background-image: url(../images/PNG/container1.png);
    background-size: cover;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.teg__container,
.teg__card {
    display: inline-flex;
    height: 32px;
    padding: 6px 8px;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    line-height: 20px;
    gap: 4px;
    align-self: stretch;
    border: 1px solid #C1C5CD;
    border-radius: 24px;
    background: #F9FDFD;
}

.main__container-one_text {
    height: 240px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 4px;
}

span {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
}

.main__container-one_p {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.data {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.main__container-twoo {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    border: 1px solid #DEDEDE;
    border-radius: 16px;
    width: 588px;
}

.main__container-twoo_photo {
    display: inline-block;
    height: 260px;
    width: 588px;
    padding: 8px;
    background-image: url(../images/PNG/container2.png);
    background-size: cover;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.main__container-twoo_text {
    height: 240px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__container-twoo_p {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.main__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    justify-content: stretch;
    align-items: stretch;
    gap: 24px;
}
.main__card_one,
.main__card_twoo,
.main__card_three,
.main__card_four,
.main__card_five,
.main__card_six {
    border: 1px solid #DEDEDE;
    border-radius: 16px;
    width: 384px;
}

.main__card_photo_one,
.main__card_photo_twoo,
.main__card_photo_three,
.main__card_photo_four,
.main__card_photo_five,
.main__card_photo_six {
    display: inline-block;
    height: 260px;
    width: 384px;
    padding: 8px;
    background-size: cover;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.main__card_photo_one {
    background-image: url(../images/PNG/card1.png);
}

.main__card_photo_twoo {
    background-image: url(../images/PNG/card2.png);
}

.main__card_photo_three {
    background-image: url(../images/PNG/card3.png);display: inline-block;
}

.main__card_photo_four {
    background-image: url(../images/PNG/card4.png);
}

.main__card_photo_five {
    background-image: url(../images/PNG/card5.png);
}

.main__card_photo_six {
    background-image: url(../images/PNG/card6.png);
}

.main__card_text_one,
.main__card_text_twoo,
.main__card_text_three,
.main__card_text_four,
.main__card_text_five,
.main__card_text_six {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 384px;
    height: 216px;
    padding: 16px;
}

.main__card_p {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.main__btn {
    display: flex;
    width: 182px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #35B3A9;
    color: #FFF;
    margin: 56px auto 96px;
    padding: 12px 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
}

.footer {
    height: 302px;
    width: 100vw;
    background-color: rgb(41, 99, 163);
    color: white;
}

.footer__board {
    display: inline-flex;
    justify-content: space-evenly;
    margin-bottom: 24px;
}

.footer__nav {
    width: 310px;
    margin-top: 40px;
    margin-left: 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap:75px;
}

.footer__left,
.footer__right {
    list-style: none;
}

.footer__item {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 16px;
}

.footer__link {
    text-decoration: none;
    color: white;
}

.footer__feedback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 486px;
    margin: 40px 72.5px 38px;
    gap: 8px;
}

.footer__input {
    display: block;
    width: 384px;
    height: 48px;
}

.footer__input::placeholder {
    font-size: 14px;
    color: rgb(157, 157, 157);
    padding-left: 16px;
}

.footer__btn {
    display: inline-flex;
    cursor: pointer;
}     

.little {
    padding-top: 8px;
    padding-bottom: 0;
    font-size: 12px;
}

.footer__logos {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 0;
    margin-top: 40px;
}

.line__one {
    display: inline-flex;
    margin-bottom: 40px;
}

.footer__footer {
    display: inline-flex;
    margin-left: 120px;
    margin-top: 16px;
    font-size: 12px;
    gap: 48px;
}

.footer__a {
   color: white;
   text-decoration: none; 
}

@media screen and (max-width: 1462px) and (min-width: 1081px) {
     .header__logo {
        margin: 10px 32px;
     }

     .header__nav {
        margin-right: 20px;
     }

     .header__list {
        gap: 16px;
     }

     .header__btn {
        margin-right: 32px;
     }

     .main {
        margin: 16px 32px;
        padding: 0;
     }

     .main__container-one {
        width: 468px;
     }
     .main__container-one_photo {
        width: 468px;
     }
     
     .main__container-twoo {
        width: 468px;
     }

     .main__container-twoo_photo {
        width: 468px;
     }

     .main__cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
     }

    .main__card_one,
    .main__card_twoo,
    .main__card_three,
    .main__card_four,
    .main__card_five,
    .main__card_six {
        width: 100%;
    }

    .main__card_photo_one,
    .main__card_photo_twoo,
    .main__card_photo_three,
    .main__card_photo_four,
    .main__card_photo_five,
    .main__card_photo_six {
        width: 100%;
    }

    .main__card_text_one,
    .main__card_text_twoo,
    .main__card_text_three,
    .main__card_text_four,
    .main__card_text_five,
    .main__card_text_six {
        width: 100%;
    }

    .footer__nav {
        width: 247px;
        margin-left: 38px;
        gap: 30px;
    }

    .footer__feedback {
        margin-left: 21px;
        margin-right: 21px;
        width: 450px;
    }
}

@media screen and (max-width: 1080px) and (min-Width: 422px) {
 
    .header__logo {
        margin: 19px 24px;
    }
    
    .header__nav {
        display: none;
    }

    .header__btn {
        display: none;
    }

    .header__burger {
        display: block;
    }

    .main {
        padding: 0;
        margin: 16px 20px;
        width: 90vw;
    }

    .main__tegs {
        gap: 4px;
        width: 400px;
        flex-wrap: nowrap;
        align-self: stretch;
    }

    .teg {
        flex-wrap: nowrap;
    }

    .teg:nth-child(4),
    .teg:nth-child(5),
    .teg:nth-child(6),
    .teg:nth-child(7),
    .teg:nth-child(8),
    .teg:nth-child(9) {
        display: none;
    }

    .main__containers {
        flex-direction: column;
        justify-content: flex-start;

    }

    .main__container-one {
        width: 90vw;
    }

    .main__container-one_photo {
        width: 90vw;
    }

    .main__container-twoo {
        width: 90vw;
    }

    .main__container-twoo_photo {
        width: 90vw;
    }

    .main__cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .main__card_one,
    .main__card_twoo,
    .main__card_three,
    .main__card_four,
    .main__card_five,
    .main__card_six {
        width: 90vw;
    }

    .main__card_photo_one,
    .main__card_photo_twoo,
    .main__card_photo_three,
    .main__card_photo_four,
    .main__card_photo_five,
    .main__card_photo_six {
        width: 90vw;
    }

    .main__card_text_one,
    .main__card_text_twoo,
    .main__card_text_three,
    .main__card_text_four,
    .main__card_text_five,
    .main__card_text_six {
        width: 90vw;
    }

    .footer {
        height: 746px;
    }
    .footer__board {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 375px;
        gap: 23px;
    }

    .footer__nav {
        text-align: center;
        width: 375px;
        margin: 0;
        padding-top: 23px;
        padding-left: 19px;
        height: 184px;
        text-align: start;
    }
    
    .footer__feedback {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        height: 200px;
    }

    .footer__input {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        padding-left: 19px;
    }

    .footer__logos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;
        width: 221px;
    }

    .footer__footer {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-top: 19px;
        padding-left: 19px;
        align-items: flex-start;
        gap: 24px;
    }
}
    

